.hero {
  background-color: #001f3f;
  height: 100vh;

  h2 {
    color: white;
    font-size: 52px;
  }
  p {
    color: white;
    font-size: 32px;
  }
  .innhold {
    padding-top: 20%;
  }
}

@import "~bulma/bulma.sass";
