@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
//Fonts variabels
$openSans: "Source Sans Pro", sans-serif;
//Color variabels
$navy: #001f3f;
$navy-light: #04284d;
$navy-bright: #052f58;
$white: #ffffff;
$blue: #1173c3;
$green: #39b6a9;
$checkboxBackground: #2d9b8ab0;

/* -------- NAVBAR -------- */
.navbar {
  background-color: transparent;
  .navbar-item {
    color: $white;
    font-size: 20px;
    font-family: $openSans;
    font-weight: 600;
  }
}
/* -------- HERO -------- */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(../images/road.jpg);
  background-repeat: none;
  background-position: 30% 24%;
  background-color: $navy;
  background-size: cover;
  height: 100vh;
  padding-bottom: 12px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .wrapper {
    margin-top: 20vh;
    text-align: center;

    h1 {
      color: $white;
      font-size: 52px;
      font-family: $openSans;
    }

    h2 {
      color: white;
      font-size: 42px;
      font-family: $openSans;
    }
    .span {
      color: $green;
    }
    .button {
      margin-top: 10px;
      background-color: $green;
      border-color: $green;
      color: $white;
      font-size: 20px;
      height: 55px;
      width: 150px;
      font-weight: 500;
      border-radius: 50px;
    }
    .button:hover {
      -webkit-transition: all 0.5s ease;
      background-color: $white;
      color: $green;
    }
    .appleIcon {
      margin: 10px;
      height: 55px;
      width: 150px;
      border-radius: 50px;
    }
    .appleIcon:hover {
      cursor: pointer;
    }
  }

  .innhold {
    padding-top: 20%;
  }
  .columns {
    text-align: center;
    .column {
      font-size: 28px;
      color: $blue;
    }
  }
  .checkboxes {
    background-color: $checkboxBackground;

    .column {
      color: $white;
      font-size: 30px;
      font-family: $openSans;
    }
    .check {
      margin-right: 15px;
    }
  }
}
/* -------- CONTENT -------- */
.tilbyr {
  background-color: $white;

  h2 {
    color: black !important;
    font-size: 52px !important;
    text-align: center;
    padding-bottom: 30px;
  }
  .innhold {
    padding-top: 20%;
  }
}
/* -------- SOCIAL PROOF -------- */
.card {
  border-radius: 10px;
  height: 15em;
  .content {
    font-style: italic;
    font-size: 20px;
  }
}
.hvor {
  background-color: $navy-bright;

  h2 {
    color: white !important;
    font-size: 52px !important;
  }
  .innhold {
    padding-top: 20%;
  }
}

/* -------- HowToUse COMPONENT -------- */
.iphoneIllustration {
  background-color: $navy;
  h2 {
    color: $white;
    font-size: 52px;
    text-align: left;
    padding-bottom: 25px;
  }
  li {
    font-size: 24px;
    color: $white;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
.videoSection {
  h2 {
    color: black;
    font-size: 52px;
    text-align: left;
    padding-bottom: 25px;
  }
  li {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  iframe {
    height: 50vh;
  }
}
/* -------- OUR CARS -------- */
#ourCars {
  background-color: $navy;
  .title {
    color: $white;
    font-size: 52px;
    text-align: center;
    padding-bottom: 25px;
    font-family: $openSans;
  }
  .carInfo {
    font-size: 25px;
    font-family: $openSans;
    color: $white;
    font-weight: 500;
  }
  .button {
    margin-top: 20px;
    background-color: $green;
    border-color: $green;
    color: $white;
    font-size: 20px;
    height: 55px;
    width: 150px;
    font-weight: 500;
    border-radius: 50px;
  }
  .button:hover {
    -webkit-transition: all 0.5s ease;
    background-color: $white;
    color: $green;
  }
}
.line {
  height: 2px;
  background-color: $green;
  border: none;
}

@import "~bulma/bulma.sass";
