@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
//Fonts variabels
$openSans: "Source Sans Pro", sans-serif;
//Color variabels
$navy: #001f3f;
$navy-light: #04284d;
$navy-bright: #052f58;
$white: #ffffff;
$blue: #1173c3;
$primary-color: #71dbff;
$secondary-color: #ff845b;
$checkboxBackground: #2d9b8ab0;

/* -------- NAVBAR -------- */
.navbar {
  background-color: transparent;
  padding: 10px;

  .navbar-item {
    color: black;
    font-size: 20px;
    font-family: $openSans;
    font-weight: 400;
  }
}
/* -------- HERO -------- */
.hero-component {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(../images/road.jpg);
  background-repeat: none;
  background-position: 0% 33%;
  background-color: $navy;
  background-size: cover;
  padding-bottom: 12px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 60vh;
  .wrapper {
    max-width: 60%;
    padding-left: 5em;
    h1 {
      color: $white;
      font-size: 52px;
      font-family: $openSans;
    }

    h2 {
      color: white;
      font-size: 28px;
      font-family: $openSans;
    }
    .span {
      color: $secondary-color;
    }
    .button {
      margin-top: 10px;
      background-color: $secondary-color;
      border-color: $secondary-color;
      color: $white;
      font-size: 20px;
      height: 55px;
      width: 150px;
      font-weight: 500;
      border-radius: 50px;
    }
    .button:hover {
      -webkit-transition: all 0.5s ease;
      background-color: $white;
      color: $secondary-color;
    }
    .appleIcon {
      margin: 10px;
      height: 55px;
      width: 150px;
      border-radius: 50px;
    }
    .appleIcon:hover {
      cursor: pointer;
    }
  }

  .innhold {
    padding-top: 20%;
  }
  .columns {
    text-align: center;
    .column {
      font-size: 28px;
      color: $blue;
    }
  }
  .checkboxes {
    background-color: $checkboxBackground;

    .column {
      color: $white;
      font-size: 30px;
      font-family: $openSans;
    }
    .check {
      margin-right: 15px;
    }
  }
}
/* -------- CONTENT -------- */
.tilbyr {
  background-color: $white;

  h2 {
    color: black !important;
    font-size: 52px !important;
    text-align: center;
    padding-bottom: 30px;
  }
  .innhold {
    padding-top: 20%;
  }
}
/* -------- SOCIAL PROOF -------- */
.card {
  border-radius: 10px;
  height: 15em;
  .content {
    font-style: italic;
    font-size: 20px;
  }
}
.hvor {
  background-color: $navy-bright;

  h2 {
    color: white !important;
    font-size: 52px !important;
  }
  .innhold {
    padding-top: 20%;
  }
}

/* -------- HowToUse COMPONENT -------- */
.iphoneIllustration {
  background-color: $white;
  height: 100vh;
  h2 {
    font-size: 48px;
    text-align: left;
    padding-bottom: 25px;
  }
  li {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
.videoSection {
  h2 {
    color: black;
    font-size: 52px;
    text-align: left;
    padding-bottom: 25px;
  }
  li {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  iframe {
    height: 50vh;
  }
}
/* -------- OUR CARS -------- */
.our-products {
  background-color: $white;
  height: 20vh;
  .title {
    font-size: 52px;
    text-align: left;
    padding-bottom: 25px;
    font-family: $openSans;
  }
  .subtitle {
    font-size: 28px;
    text-align: left;
    font-family: $openSans;
    color: $secondary-color;
  }
}

#ourCars {
  background-color: $white;

  .carInfo {
    font-size: 25px;
    font-family: $openSans;
    font-weight: 500;
  }
  .button {
    margin-top: 20px;
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $white;
    font-size: 20px;
    height: 55px;
    width: 150px;
    font-weight: 500;
    border-radius: 50px;
  }
  .button:hover {
    -webkit-transition: all 0.5s ease;
    background-color: $white;
    color: $secondary-color;
  }
}
.line {
  height: 2px;
  background-color: $secondary-color;
  border: none;
}

//NEW-PAGE

.prodinfo {
  .textwrapper {
    margin-left: 2em;
    margin-bottom: 3em;
    h2 {
      font-size: 48px;
    }
    p {
      font-size: 28px;
    }
  }
  .product-button-main-page {
    margin-top: 10px;
    font-size: 20px;
    width: 5em;
    height: 35px;
    border-radius: 50px;
    color: white;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
  .product-button-main-page:hover {
    -webkit-transition: all 0.5s ease;
    background-color: $white;
    color: $secondary-color;
  }

  .product-image-main-page {
    max-width: 70%;
  }
  .product-title-main-page {
    margin-top: 10px;
    font-size: 25px;
  }
}

.further-nav {
  .column {
    border: 2px solid $primary-color;
    margin: 5px;
    height: 25em;
    border-radius: 5px;
  }
}
.footer {
  .columns {
  }
  h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  a {
    color: #5f5f5f;
  }
  a:hover {
    color: $secondary-color;
  }
}
@import "~bulma/bulma.sass";
